{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1>Bienvenue sur la page d'accueil</h1>
        <p>Ceci est la page d'accueil avec une navbar contenant des liens vers Logout, Vehicles et Reservations.</p>
    </div>
{% endblock %}
